*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;

}

body {
    height:100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #2d1985;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:400px;
    background-color: #fff;
    padding: 30px; 
    border-radius: 20px;
}

input{
    height: 45px;
    font-size: 18px;
    padding-left: 5px;
}

.BotaoAdicionarItem{
    height: 45px;
    width: 100px;
    margin-left: 5px;
    background-color: #2d1985;
    border:none;
    cursor:pointer;
    font-size: 15px;
    color: #fff;
}

.lista{
    width: 100%;
    margin-top: 10px;
    list-style: none;
    font-size: large;;
}

.item{
    background-color: rgb(224, 221, 217);
    margin: 5px;
    padding: 10px;
    display:flex;
    justify-content: space-between;
}

.excluirItem{
    height: 50px;
    width: 50px;
    cursor: pointer;
}